n8n_workflow/columns-image-backfill-nanobanana-db.json
{
  "name": "コラム画像バックフィル（Nano Banana Pro）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 9 },
            { "triggerAtHour": 12 },
            { "triggerAtHour": 21 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 200],
      "id": "schedule",
      "name": "Schedule（1日3回）"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://tokusearch.vercel.app/api/ingest/columns-images/next?limit=1&max_inline=6",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" },
            { "name": "Authorization", "value": "Bearer cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-980, 200],
      "id": "get-next",
      "name": "次のコラム取得（API）"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.count || 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-760, 200],
      "id": "if-has-items",
      "name": "対象あり？"
    },
    {
      "parameters": {
        "jsCode": "// APIレスポンスから最初の1記事を取り出し、画像ジョブ配列を作る\nconst item = ($json.items && $json.items[0]) ? $json.items[0] : null;\nif (!item) return [];\n\nconst columnId = item.id;\nconst slug = item.slug;\n\nconst jobs = [];\n\n// サムネ\nif (item.thumbnail && item.thumbnail.needs_generation && item.thumbnail.prompt) {\n  jobs.push({\n    kind: 'thumbnail',\n    columnId: columnId,\n    slug: slug,\n    description: item.title || '',\n    prompt: item.thumbnail.prompt\n  });\n}\n\n// 記事内画像\nconst inlineItems = (item.inline && Array.isArray(item.inline.items)) ? item.inline.items : [];\nfor (const it of inlineItems) {\n  jobs.push({\n    kind: 'inline',\n    columnId: columnId,\n    slug: slug,\n    description: it.description || '',\n    prompt: it.prompt || ''\n  });\n}\n\nif (jobs.length === 0) return [];\n\nreturn jobs.map(function(j) { return { json: j }; });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-540, 200],
      "id": "build-jobs",
      "name": "画像ジョブ作成"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-320, 200],
      "id": "split",
      "name": "1枚ずつ処理"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-goog-api-key", "value": "AIzaSyBksss0JswhMYQu7DsTUDrUuX4Pal5X_g4" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  contents: [{ role: 'user', parts: [{ text: $json.prompt }] }],\n  generationConfig: {\n    responseModalities: ['TEXT','IMAGE'],\n    imageConfig: { aspectRatio: '16:9', imageSize: '1K' }\n  }\n} }}",
        "options": {
          "response": { "response": { "fullResponse": false, "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-100, 200],
      "id": "gen-image",
      "name": "Nano Banana Pro 生成"
    },
    {
      "parameters": {
        "jsCode": "// Nano Banana Pro のレスポンスから base64 画像を抽出\nconst resp = $json;\nconst parts = (resp && resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) || [];\nvar imgPart = null;\nfor (var i = 0; i < parts.length; i++) {\n  if (parts[i] && parts[i].inlineData && parts[i].inlineData.data) {\n    imgPart = parts[i];\n    break;\n  }\n}\nif (!imgPart) {\n  throw new Error('inlineData.data が見つかりません。Gemini のレスポンス構造を確認してください。');\n}\n\nconst base64 = imgPart.inlineData.data;\nconst mimeType = imgPart.inlineData.mimeType || 'image/png';\n\n// 直前の SplitInBatches から流れてきたジョブ情報を取得\nconst prev = $input.item.json;\n\nreturn [{ json: {\n  kind: prev.kind || '',\n  columnId: prev.columnId || '',\n  slug: prev.slug || '',\n  description: prev.description || '',\n  base64: base64,\n  mimeType: mimeType\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 200],
      "id": "extract-base64",
      "name": "Base64抽出"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokusearch.vercel.app/api/admin/columns/upload-image",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" },
            { "name": "Authorization", "value": "Bearer cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  image: $json.base64,\n  filename: $json.kind + '-' + $json.columnId + '-' + Date.now() + '.png'\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 200],
      "id": "upload",
      "name": "画像アップロード"
    },
    {
      "parameters": {
        "jsCode": "// アップロード結果のURLと元のジョブ情報を結合して apply 用ペイロードを作る\n// $json はアップロードAPIのレスポンス（{ success, url, filename }）\n// Base64抽出ノードの出力からジョブ情報を取得\nconst uploadResult = $json;\nconst job = $('Base64抽出').first().json;\n\nconst url = uploadResult.url || '';\nconst kind = job.kind || '';\nconst columnId = job.columnId || '';\nconst description = job.description || '';\n\n// 種類に応じて apply API のペイロードを構築\nvar payload = {};\nif (kind === 'thumbnail') {\n  payload = {\n    column_id: columnId,\n    thumbnail_url: url,\n    inline_images: []\n  };\n} else {\n  // inline\n  payload = {\n    column_id: columnId,\n    thumbnail_url: '',\n    inline_images: [{ description: description, url: url }]\n  };\n}\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 200],
      "id": "build-apply",
      "name": "DB反映ペイロード作成"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokusearch.vercel.app/api/ingest/columns-images/apply",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" },
            { "name": "Authorization", "value": "Bearer cXajM21jtiFiCYqrRtqOeQ3bcPLB5JJ5-Nr4lQTXTtQ" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 200],
      "id": "apply",
      "name": "DB反映（API）"
    }
  ],
  "connections": {
    "Schedule（1日3回）": { "main": [[{ "node": "次のコラム取得（API）", "type": "main", "index": 0 }]] },
    "次のコラム取得（API）": { "main": [[{ "node": "対象あり？", "type": "main", "index": 0 }]] },
    "対象あり？": { "main": [[{ "node": "画像ジョブ作成", "type": "main", "index": 0 }], []] },
    "画像ジョブ作成": { "main": [[{ "node": "1枚ずつ処理", "type": "main", "index": 0 }]] },
    "1枚ずつ処理": { "main": [[{ "node": "Nano Banana Pro 生成", "type": "main", "index": 0 }], []] },
    "Nano Banana Pro 生成": { "main": [[{ "node": "Base64抽出", "type": "main", "index": 0 }]] },
    "Base64抽出": { "main": [[{ "node": "画像アップロード", "type": "main", "index": 0 }]] },
    "画像アップロード": { "main": [[{ "node": "DB反映ペイロード作成", "type": "main", "index": 0 }]] },
    "DB反映ペイロード作成": { "main": [[{ "node": "DB反映（API）", "type": "main", "index": 0 }]] },
    "DB反映（API）": { "main": [[{ "node": "1枚ずつ処理", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "tags": []
}
