n8n_workflow/kotsukotsu-workflow-db-ingest.json
{
  "name": "コツコツポイ活（X→DB Ingest）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 10 },
            { "triggerAtHour": 22 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [112, -400],
      "id": "trigger-kotsu-001",
      "name": "ScheduleTrigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://tokusearch.vercel.app/api/ingest/deals/recent?days=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.N8N_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.N8N_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, -400],
      "id": "get-recent-002",
      "name": "GetRecentDeals"
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nlet deals = body;\nif (body && Array.isArray(body.deals)) deals = body.deals;\nif (!Array.isArray(deals)) deals = [];\nif (deals.length === 0) return [{ json: { __emptyHistory: true } }];\nreturn deals.map(d => ({ json: d }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -400],
      "id": "unwrap-003",
      "name": "UnwrapRecentDeals"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) return [{ json: { __emptyHistory: true } }];\nconst thirtyDaysAgo = new Date();\nthirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\nreturn items.filter(item => {\n  if (item.json && item.json.__emptyHistory) return true;\n  const dateStr = item.json.date || item.json.created_at;\n  if (!dateStr) return false;\n  return new Date(dateStr) >= thirtyDaysAgo;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -400],
      "id": "filter-hist-004",
      "name": "FilterRecentHistory"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nconst formatDate = (d) => d.toISOString().slice(0, 10);\nconst startDate = formatDate(oneDayAgo);\nconst endDate = formatDate(now);\nconst prompt = `\n${startDate}〜${endDate} の期間にX(Twitter)で投稿された「ポチポチ・コツコツ系ポイ活」情報のみを収集し、以下のJSON配列形式で返してください。\n**重要**: 出力は純粋なJSONのみ。コードフェンスや説明文は不要です。\n[{\n\"date\": \"YYYY-MM-DD\",\n\"title\": \"見出し\",\n\"summary\": \"短い要約\",\n\"detail\": \"還元・ポイントの内容\",\n\"steps\": \"手順（ログイン・チェックイン・ミッション等）\",\n\"service\": \"サービス名（お小遣いLINK等）\",\n\"url\": \"https://x.com/.../status/...\",\n\"source_name\": \"出典アカウント名\",\n\"source_id\": \"@handle\",\n\"expiration\": \"常時 or 毎日 or YYYY-MM-DD or null\",\n\"conditions\": \"条件\",\n\"notes\": \"備考\"\n}]\n# 収集対象（コツコツ・ポチポチ系のみ）\n- お小遣いLINK・ポチポチ・ログインボーナス・チェックイン・毎日ミッション・アプリ起動\n- ポイントサイトの日次タスク・くじ・広告視聴・動画ポイント\n- 還元率・単価が小さい「積み上げ型」の案件\n# 除外\n- カード発行・FX・投資・高単価紹介・当選人数少ない抽選\n- フォロー/リポスト必須\n- 明確に終了と記載されたもの\n- TikTok投稿\n`.trim();\nreturn [{ json: { prompt, startDate, endDate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, -400],
      "id": "gen-prompt-005",
      "name": "GenerateKotsukotsuPrompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "grok-4-1-fast-reasoning" },
            { "name": "input", "value": "={{ [{ \"role\": \"user\", \"content\": $json.prompt }] }}" },
            { "name": "tools", "value": "={{ [{ \"type\": \"x_search\", \"from_date\": $json.startDate, \"to_date\": $json.endDate, \"enable_image_understanding\": false, \"enable_video_understanding\": false }] }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -400],
      "id": "grok-006",
      "name": "CallGrokAI",
      "credentials": { "xAiApi": { "id": "m3OLs9FipQlOJmOA", "name": "xAi account" } }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const body = $json;\n  let text = body && typeof body.output_text === 'string' ? body.output_text : null;\n  if (!text && body && Array.isArray(body.output)) {\n    const parts = [];\n    for (const out of body.output) {\n      if (!out || !Array.isArray(out.content)) continue;\n      for (const c of out.content) {\n        if (c && (c.type === 'output_text' || c.type === 'text') && typeof c.text === 'string')\n          parts.push(c.text);\n      }\n    }\n    if (parts.length) text = parts.join('');\n  }\n  if (!text && body && body.choices && body.choices[0] && body.choices[0].message)\n    text = body.choices[0].message.content;\n  if (!text || typeof text !== 'string') throw new Error('Grok response text not found');\n  const items = JSON.parse(text);\n  if (!Array.isArray(items)) throw new Error('Grok output is not a JSON array');\n  return items.map(item => ({ json: item }));\n} catch (err) {\n  return [{ json: { error: true, message: err.message, raw: $json } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -400],
      "id": "parse-007",
      "name": "ParseGrokResponse"
    },
    {
      "parameters": {
        "jsCode": "function extractTwitterID(text) {\n  if (!text) return null;\n  const m = text.match(/status\\/(\\d+)/);\n  return m ? 'x-' + m[1] : null;\n}\nconst grokItems = $input.all().map(i => i.json);\nconst historyItems = ($items('FilterRecentHistory') || []).map(i => i.json);\nconst historyIDs = new Set();\nhistoryItems.forEach(item => {\n  if (item.id && item.id.startsWith('x-')) historyIDs.add(item.id);\n  const tid = extractTwitterID(item.notes);\n  if (tid) historyIDs.add(tid);\n});\nconst filtered = grokItems.filter(item => {\n  const tid = extractTwitterID(item.url);\n  if (tid && historyIDs.has(tid)) return false;\n  return true;\n});\nif (filtered.length === 0) return [{ json: { isEmpty: true } }];\nreturn filtered.map(i => ({ json: i }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, -400],
      "id": "filter-id-008",
      "name": "FilterByID"
    },
    {
      "parameters": {
        "jsCode": "function urlId(url) {\n  if (!url) return null;\n  const m = url.match(/status\\/(\\d+)/);\n  return m ? 'x-' + m[1] : null;\n}\nfunction hash(s) {\n  let h = 0;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) - h) + s.charCodeAt(i) | 0;\n  return Math.abs(h).toString(36);\n}\nfunction contentId(d) {\n  const s = (d.service || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n  const t = (d.title || '').substring(0, 50);\n  return 'kotsu-' + hash(s + t);\n}\nconst items = $input.all();\nif (items.length === 1 && (items[0].json.isEmpty || items[0].json.error)) return [{ json: { isEmpty: true } }];\nconst out = [];\nfor (const item of items) {\n  const d = item.json;\n  const id = urlId(d.url) || contentId(d);\n  const now = new Date().toISOString();\n  const date = (d.date || now).toString().slice(0, 10);\n  let notes = d.notes || '';\n  if (d.url) notes += (notes ? '\\n' : '') + '【出典】' + (d.source_name || '') + ' (' + (d.source_id || '') + ')\\n' + d.url;\n  const tags = ['コツコツ', 'ポチポチ'].concat((d.service ? [d.service] : [])).slice(0, 5).join(',');\n  out.push({ json: {\n    id,\n    date,\n    title: d.title || '',\n    summary: d.summary || '',\n    detail: d.detail || '',\n    steps: d.steps || '',\n    service: d.service || '',\n    expiration: d.expiration || '常時',\n    conditions: d.conditions || '',\n    notes,\n    category_main: '決済・ポイント',\n    category_sub: 'コツコツ',\n    is_public: true,\n    priority: 'B',\n    discount_rate: null,\n    discount_amount: null,\n    score: 60,\n    created_at: now,\n    updated_at: now,\n    difficulty: 'low',\n    area_type: 'online',\n    target_user_type: 'all',\n    usage_type: 'financial',\n    is_welkatsu: false,\n    tags\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, -400],
      "id": "transform-009",
      "name": "TransformKotsukotsu"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.isEmpty || false }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, -400],
      "id": "if-not-empty-010",
      "name": "IfNotEmpty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tokusearch.vercel.app/api/ingest/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.N8N_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.N8N_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2120, -400],
      "id": "post-ingest-011",
      "name": "PostIngestDeals"
    }
  ],
  "pinData": {},
  "connections": {
    "ScheduleTrigger": { "main": [[{ "node": "GetRecentDeals", "type": "main", "index": 0 }]] },
    "GetRecentDeals": { "main": [[{ "node": "UnwrapRecentDeals", "type": "main", "index": 0 }]] },
    "UnwrapRecentDeals": { "main": [[{ "node": "FilterRecentHistory", "type": "main", "index": 0 }]] },
    "FilterRecentHistory": { "main": [[{ "node": "GenerateKotsukotsuPrompt", "type": "main", "index": 0 }]] },
    "GenerateKotsukotsuPrompt": { "main": [[{ "node": "CallGrokAI", "type": "main", "index": 0 }]] },
    "CallGrokAI": { "main": [[{ "node": "ParseGrokResponse", "type": "main", "index": 0 }]] },
    "ParseGrokResponse": { "main": [[{ "node": "FilterByID", "type": "main", "index": 0 }]] },
    "FilterByID": { "main": [[{ "node": "TransformKotsukotsu", "type": "main", "index": 0 }]] },
    "TransformKotsukotsu": { "main": [[{ "node": "IfNotEmpty", "type": "main", "index": 0 }]] },
    "IfNotEmpty": { "main": [[{ "node": "PostIngestDeals", "type": "main", "index": 0 }], []] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "kotsukotsu-workflow" },
  "tags": []
}
